<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        x : <input type="text" name="x" id="x">
        y : <input type="text" name="y" id="y">
        result: <input type="text" name="" id="result">
        <button type="button" id="btn">제출</button>
    </form>
</body>

<script>
    window.onload = function () {
        document.querySelector('#btn').addEventListener('click', () => {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    document.querySelector('#result').value = xhttp.responseText;
                }
            }
            const url = `/add?x=${document.querySelector('#x').value}&y=${document.querySelector('#y').value}`;
            xhttp.open('get', url, true);
            xhttp.send();
        });
    }
</script>

</html>