<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <img src="/upload/dog.jpg" alt="">
  <img src="/upload/dog2.jpg" width="514" alt="">
  <img src="/upload/dog3.jpg" width="514" alt="">

</body>

</html>